<div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8"  *ngFor="let employee of employeesList">
        <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
            <nz-card-meta
              [nzTitle]="employee.nom"
              [nzAvatar]="avatarTemplate">
            </nz-card-meta>
            <p>{{employee.prenom}}</p>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar [nzSrc]="employee.image"></nz-avatar>
          </ng-template>
          <ng-template #coverTemplate>
            <!-- <img  [src]="employee.image" [alt]="employee.prenom"/> -->
           
          </ng-template>
          <ng-template #actionSetting >
            <i  routerLink="/employees/detail/{{employee.id}}" nz-icon nzType="eye" ></i>
            
          </ng-template>
          <ng-template #actionEdit>
            <button routerLink="/employee/{{employee.id}}" nz-button nzType="dashed" ><i nz-icon nzType="edit"></i></button>
          
          </ng-template>
          <ng-template #actionEllipsis>
            <button routerLink="/employee/{{employee.id}}" nz-button nzType="dashed" ><i nz-icon nzType="ellipsis"></i></button>

          </ng-template>
     
      </div>
     