
      .layout {
        min-height: 100vh;
      }

      .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
      }



      .inner-content {
        background: #fff;
        min-height: 360px;
      }

      nz-footer {
        text-align: center;
      }

      #map {
        width: 80%;
        height: 100%;
        position: absolute;
        
      }
    